In [31]:
import selenium
from selenium import webdriver
from selenium.webdriver import ActionChains

from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait

***크롬드라이버 실행(자기 크롬 버전에 맞게 설치후 test.ipynb와 같은 경로에 두기)***

In [32]:
driver = webdriver.Chrome('chromedriver')
URL = "https://m.place.naver.com/restaurant/37754976/review/visitor"  
driver.get(URL)

***클릭할 버튼이 없을때까지 스크롤 내림 (일단 임시로 100지정)***

In [33]:
import time
for _ in range(100):
    driver.find_element(By.CSS_SELECTOR, "body").send_keys(Keys.END)
    try: driver.find_element_by_xpath('//*[@class="fvwqf"]').click()
    except: break
    time.sleep(0.1)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_2924\657736494.py:4: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  try: driver.find_element_by_xpath('//*[@class="fvwqf"]').click()

***유저 아이디, 해당 유저의 리뷰가 있는 링크를 가져오고 저장***

In [34]:
import pandas as pd
link_list = driver.find_elements(By.CLASS_NAME, "Hazns")
link_list = [link.get_attribute("href") for link in link_list]
user_list = driver.find_elements(By.CLASS_NAME, "sBWyy")
user_list = [user.text for user in user_list]
userlink = pd.DataFrame({'user' : user_list, 'link' : link_list}, dtype = str)

In [39]:
userlink

        user                                               link
0    minh777  https://m.place.naver.com/my/5eff7666d012f64a7...
1    gus****  https://m.place.naver.com/my/5ee967a98f87a842b...
2       다람쥐수  https://m.place.naver.com/my/5bcc9083c8bcb60cc...
3       지지지징  https://m.place.naver.com/my/5beadba2018528052...
4       루샤25  https://m.place.naver.com/my/5c403394bfed08c22...
..       ...                                                ...
226      2꽥꽥  https://m.place.naver.com/my/5d19a3f0b59260599...
227  아프로4999  https://m.place.naver.com/my/5dfaf8f48f87a842b...
228    Sss54  https://m.place.naver.com/my/5b9ba3b71cb967078...
229  sin****  https://m.place.naver.com/my/5c6e6ac64bb61f68d...
230  haz****  https://m.place.naver.com/my/5e8c6dc48f87a842b...

[231 rows x 2 columns]

user, link로 이루어진 데이터를 이용함
1. 링크로 이동
2. 리뷰한 곳의 위치, 매장 이름을 기록

In [40]:
driver = webdriver.Chrome('chromedriver')
user_locate_restaurant = pd.DataFrame()
for i in range(3):    #len(userlink)
    name, URL = userlink.iloc[i][0], userlink.iloc[i][1]
    driver.get(URL)
    for _ in range(10):
        driver.find_element(By.CSS_SELECTOR, "body").send_keys(Keys.END)
    
    time.sleep(2)
    locate_list = driver.find_elements(By.CLASS_NAME, "_3daRQ")
    locate_list = [locate.text for locate in locate_list]

    restaurant_list = driver.find_elements(By.CLASS_NAME, "_3FJ1g")
    restaurant_list = [restaurant.text for restaurant in restaurant_list]

    save = pd.DataFrame({'user' : [name] * len(locate_list), 'locate' : locate_list, 'restaurant' : restaurant_list}, dtype = str)
    user_locate_restaurant = pd.concat([user_locate_restaurant, save], axis = 0, sort=False)
    time.sleep(2)

In [41]:
user_locate_restaurant

       user     locate       restaurant
0   minh777    군포시 산본동             베타클럽
1   minh777    군포시 산본동        투덜이네막창 본점
2   minh777    서울시 한남동              베베베
3   minh777    군포시 금정동   랑데자뷰 AK플라자 금정점
4   minh777    수원시 정자동  미남꼬마김밥연구소 정자동본점
..      ...        ...              ...
35     다람쥐수    서울시 한남동              베베베
36     다람쥐수    서울시 등촌동        청기와감자탕등촌점
37     다람쥐수  전주시 인후동1가         솜리치킨 아중점
38     다람쥐수    서울시 등촌동              연초밥
39     다람쥐수    서울시 등촌동           테이퍼드커피

[106 rows x 3 columns]